<h1>New Book</h1>
<%= form_with scope: :book, url: books_path, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :author %><br>
    <%= form.text_field :author %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

<!-- How to make upcase? v <a> -->
  <p><a>
    <%= form.label :Url %><br>
    <%= form.text_field :Url %>
  </a></p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
<%= link_to 'Back', books_path %>
